
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

body{
  background: #000;
}

.nav-header a:hover{
  color: #662efa;
}

.nav-header a, h1{
  text-decoration: none;
  color: #fff;
}

.btn{
  padding: 12px 28px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #fff;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn-t{
  background: transparent;
  color: #fff;
}

.btn-y{
  background: rgb(248, 217, 15);
}

.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

a{
  text-decoration: none;
}